[Unit]
Description=Logs some system statistics to the systemd journal
Requires=rikntp.service

[Timer]
Unit=rikntp.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
